body{
    background-color: lavenderblush;
}
.container
{
    overflow: hidden;
    margin: 0em auto;
}

.topic h2
{
    position: absolute;
    top: 0em;
    left: 350px;
    font-size: 5em;
    margin-bottom: 0;
    color: rgb(0, 0, 0);
    font-weight: lighter;
    font-family: cursive;
}

#vis{
    margin-top: 13em;
    margin-left: 12em;
}

